// app global css in SCSS form
.white-font {
    color: white
}

.bigger-font{
    font-size: 120%;
}

.subsection-title {
    font-size:150%;
    font-weight: 700;
}

.roadmap-header p {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.roadmap-card {
    margin-bottom: 15px;
}